@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #222831;
  color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 10rem;
  background: #222831;
  box-shadow: 0 8px 32px 0 rgba(29, 31, 67, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(38, 23, 69, 0.18);
  position: fixed;
  z-index: 2;
}

.gridD {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 13%;
}

.style {
  position: absolute;
  top: 23%;
  left: 46%;
  translate: transform(-50%, -50%);
  z-index: 10;
}

.styleHero {
  translate: transform(-50%, -50%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}
